.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color:azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header-left {
    margin-left: 2%;
}


.header-right {
    margin-right: 2%;
}

.header-right {
    list-style: none;
}



.main-right {
    text-align: right;
    padding: 13%;
}
